{% extends 'CULabsAdminBundle:Crud:view.html.twig' %}

{% block title_page %}{{ 'Detail MensajeMasivo'|trans }}{% endblock %}

{% block actions %}
    <div class="table-header">
        <ul class="actions">
            <li>
                <a href="{{ path('admin_mensajemasivo') }}" class="btn btn-icon btn-info">     
                    <i class="icon-list icon-white"></i>{{ 'List'|trans }}  
                </a>
            </li>
            {% if is_granted('ROLE_MENSAJEMASIVO_EDIT') %}
            <li>
                <a href="{{ path('admin_mensajemasivo_edit', { 'id': entity.id }) }}" class="btn btn-icon btn-primary">     
                <i class="icon-pencil icon-white"></i>{{ 'Edit'|trans }}  
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MENSAJEMASIVO_NEW') %}
            <li>
                <a href="{{ path('admin_mensajemasivo_new') }}" class="btn btn-icon btn-primary">     
                <i class="icon-plus-sign icon-white"></i>{{ 'New'|trans }}  
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MENSAJEMASIVO_ACTIVAR') and entity.isNuevo %}
            <li>
                <a class="btn btn-primary btn-icon" title="{{ 'activar'|trans }}" href="{{ path('admin_mensajemasivo_activar', { 'id': entity.id }) }}">
                    <i class="icon-play-circle icon-white"></i>{{ 'Activar'|trans }}
                </a>                                      
            </li> 
            {% endif %}                    
            {% if is_granted('ROLE_MENSAJEMASIVO_DELETE') %}
            <li>
                <a href="#" onclick="confirmarUrl('{{ 'Realmente desea borrar'|trans }}', '{{ path('admin_mensajemasivo_delete', { 'id': entity.id }) }}', '{{ 'Comfirmar'|trans }}')" class="btn btn-icon btn-danger">     
                <i class="icon-remove icon-white"></i>{{ 'Delete'|trans }}  
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
    
{% block view_body %}
<table class="table table-bordered table-hover table-striped">    
    <tr>
        <th class="span2">{{ 'Asunto'|trans }}</th>
        <td>
            {{ entity.asunto }}
        </td>
    </tr>        
    <tr>
        <th class="span2">{{ 'Body'|trans }}</th>
        <td>
            {{ entity.body }}
        </td>
    </tr>        
    <tr>
        <th class="span2">{{ 'Status'|trans }}</th>
        <td>
            {{ entity.status|trans }}
        </td>
    </tr></table>
{% endblock %}